{% extends 'base.html' %}

{% block head %}
{% parent %}

<link rel="stylesheet" href="/css/game.css">
<script src="/socket.io/socket.io.js"></script>
<script src="/js/helpers.js"></script>
<script src="/js/app.js"></script>
<script src="/js/core.js"></script>
<script src="/js/game.js"></script>
<script>
    /*var socket = io.connect('http://localhost:8888');
     socket.on('news', function (data) {
     console.log(data);
     socket.emit('my other event', { my: 'data' });
     });*/
</script>
<script>
    $(function(){
        var email = 'pltnkv' + '0@gmail';
        $('.email').attr('href', 'mailto:'+email);
    });
    var globalSettings = {};
    globalSettings.numPlayers = {{ numPlayers }};
</script>
{% endblock %}

{% block header %}
{% endblock%}


{% block content %}
<div class="hidden">gameId = {{ gameInfo.gameId }}</div>
<div class="hidden">gameId = {{ gameInfo.gameId }}</div>

<div class="navbar navbar-default">
    <ul class="nav navbar-nav navbar-left">
        <li><p class="navbar-text">Ходит: Олег</p></li>
        <li><p class="navbar-text">Счет: 30</p></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Подсказка: Используйте колесико для поворота фигуры</p></li>
        <li><a href="/rules" target="_blank">Правила</a></li>
        <li><a class='email' href=''>Оставить отзыв</a></li>
    </ul>
</div>
<div class="player-name"></div>
{% endblock %}


