{% extends 'base.html' %}

{% block head %}
{% parent %}

<link rel="stylesheet" href="/css/game.css">
<script src="/socket.io/socket.io.js"></script>
<script src="/js/helpers.js"></script>
<script src="/js/app.js"></script>
<script src="/js/core.js"></script>
<script src="/js/game.js"></script>
<script>
    /*var socket = io.connect('http://localhost:8888');
     socket.on('news', function (data) {
     console.log(data);
     socket.emit('my other event', { my: 'data' });
     });*/
</script>
<script>
    $(function(){
        var email = 'pltnkv' + '0@gmail';
        $('.email').attr('href', 'mailto:'+email);
    });
</script>
{% endblock %}

{% block header %}
{% endblock%}


{% block content %}
<div class="player-name"></div>
<div class="game-help">
    <p>Press 'Enter' to skip player turn<br>
        Use mouse wheel for turn shape<br>
        <a href="/rules" target="_blank">Правила</a>, <a class='email' href=''>Оставить отзыв</a>
    <p>
</div>
{% endblock %}

