<!DOCTYPE html>
<html>
<head>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        /*var socket = io.connect('http://localhost:8888');
        socket.on('news', function (data) {
            console.log(data);
            socket.emit('my other event', { my: 'data' });
        });*/
    </script>
    <title>Blokus online game</title>
</head>
<body>
<center>
<p><b>Blokus online — онлайн версия</b> популярной стратегической настольной игры для двух, трех или четырех человек, изобретенной французским математиком Бернардом Тавитианом.<br>
Существуют несколько видов блокуса: классический (Blokus Classic), для двоих (Blokus Duo или Blokus Travel), треугольный (Blokus Trigon) и трехмерный (Blokus 3D).
    <br />
Запуск в октябре 2013 года.
</p>
<p>
<b>Blokus online — is online version</b> of an abstract strategy board game for two to four players.
<br />
Start in oct 2013.
</p>
</center>
</body>
</html>