{% extends 'base.html' %}


{% block head %}
{% parent %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
    $(function(){
        var email = 'pltnkv' + '0@gmail';
        $('.email').attr('href', 'mailto:'+email);
        $('.email').text(email);
    });
</script>

<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<script type="text/javascript" src="//vk.com/js/api/openapi.js?105"></script>
<script type="text/javascript">
    VK.init({apiId: 4008819, onlyWidgets: true});
</script>

<style>
    body {
        padding-top: 70px;
    }
</style>
{% endblock %}


{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=260032797483677";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">

    <div class="jumbotron">
        <h1>BYRG <small>[alpha version]</small></h1>
        <a href="/newgame"><button type="button" class="btn-play btn btn-primary btn-lg">Начать игру</button></a>
        <br />

        <p><b>BYRG game</b> - это онлайн площадка для игры в Blokus(блокус), популярной стратегической настольной игры, изобретенной французским математиком Бернардом Тавитианом.
            Тут вы можете поиграть в классический блокус(<a href="/game?t=4">Blokus Classic</a>), блокус для двоих (<a href="/game?t=2">Blokus Duo</a>) и треугольный блокус (Blokus Trigon), который будет скоро реализован.
            <br /><br />

            Начать играть в блокус легко, так как у него очень простые <a href="/rules">правила</a>. Однако это не означает, что что сама игра простая, наоброт чтобы выиграть приходится прибегать к хитрым стратегиям и различным тактическим приемам
            На данный момент реализован вариант игры за одним компъютером, так что вы можете попробовать сыграть со своими близкими и друзьями.<br />
            Все отзывы и предложения пишите на: <a class='email' href=''></a>.
        </p>
        <br>
        <h3>Планируется в ближайшее время:</h3>
        <ul>
            <li><s>Классическая игра (на 4-х) за одним комъютером (12.11.2013)</s></li>
            <li><s>Игра для 2-х человек (Поле квадрат 14 на 14) (15.11.2013)</s></li>
            <li>Автоматическая провека оставшихся ходов</li>
            <li>Реализовать версию блокус тригон (Blokus Trigon)</li>
            <li>Подсчет очков игроков</li>
            <li>Возможность играть по сети (поделиться игрой через ссылку)</li>
            <li>Возможность играть с ботами</li>
            <li>Интеграция с Facebook</li>
            <li>Интеграция с Vkontakte</li>
            <li>Интеграция с Chrome store</li>
        </ul>
        <h3>Чуть позже:)</h3>
        <ul>
            <li>Поиск свободных игр с другими игроками</li>
            <li>Мобильная версия под iPad и iPhone</li>
            <li>Мобильная версия под Android</li>
            <li>Рейтинг игроков</li>
            <li>Персональная статистика по играм</li>
        </ul>


        <div class="share-link yashare-auto-init" data-yashareL10n="ru" data-yashareType="link" data-yashareQuickServices="vkontakte,facebook,twitter,gplus"></div>

        <div id="vk_like" style="margin-top: 4px; margin-bottom: 5px;"></div>
        <script type="text/javascript">
            VK.Widgets.Like("vk_like", {type: "button"});
        </script>
        <div class="fb-like" data-href="http://blokus-online.com" data-width="600" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
    </div>

</div>
{% endblock %}
