{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top:80px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Создать новую игру</h3>
        </div>
        <div class="panel-body">
            <form role="form" action="/game" method="post">
                <div class="form-group">
                    <label for="fieldType">Тип игры</label>
                    <select class="form-control" id="fieldType" name="fieldType" style="max-width: 300px;">
                        <option value="4">На 4-х игроков (Классический блокус)</option>
                        <option value="2">На 2-х игроков (Блокус Дуо)</option>
                    </select>
                </div>
                <div class="checkbox">
                    <label><input name="onlineGame" type="checkbox"/> игра за одним компьютером </label>
                    <!--<p class="help-block">В этом случае статистика не сохраняется</p>-->
                </div>
                <button type="submit" class="btn btn-primary">Начать играть</button>
            </form>
        </div>
    </div>

</div>




{% endblock %}

