{% extends 'base.html' %}


{% block head %}
{% parent %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<style>
    body {
        padding-top: 70px;
    }
</style>
{% endblock %}


{% block content %}

<div class="container">

    <div class="jumbotron">
        <h2>Правила</h2>
        <p>Поле классического блокуса(на 4-х человек) является квадратом, разбитым на 20 частей по вертикали и горизонтали, то есть состоящим из 400 маленьких квадратов.
            При игре вчетвером каждый игрок имеет набор из 21 фигуры полимино своего цвета:<br>
            (одно мономино, одно домино, два тримино, пять тетрамино и двенадцать пентамино).<br>
            Цвета наборов — синий, жёлтый, красный и зелёный. Игроки по очереди выставляют фигуры на доску по следующим правилам.
            Первая фигура каждого цвета должна занять (накрыть) угловой квадрат доски. Каждая следующая фигура этого цвета должна выставляться так, чтобы коснуться хотя бы одной фигуры (можно более) своего цвета углом, но не коснуться ни одной из фигур своего цвета стороной. Фигуры разного цвета могут соприкасаться как угодно. Цвета ходят в следующем порядке: синий, жёлтый, красный, зелёный, занимая стартовые углы поля по часовой стрелке.
            <br><br>
            Если у игрока не осталось возможных ходов, он пропускает ход (<i>Нажать Enter</i>).
            Игра заканчивается, когда ходы закончились у всех игроков. Игрок зарабатывает столько очков, сколько он выставил маленьких квадратов (то есть выставление пентамино приносит 5 очков, тетрамино — четыре очка и т. д.).
            Если игрок выставил все фигуры, он получает дополнительно 20 очков (если последней была выставлена фигура, состоящая из 1 маленького квадрата) или 15 очков (в противном случае).
            <br><br>
            При игре вдвоём каждый игрок играет за два цвета, один за красный и синий, другой за жёлтый и зелёный. При этом, по-прежнему, фигуры разных цветов даже одного игрока могут соприкасаться как угодно. При игре вдвоём игрок должен хорошо взаимодействовать двумя цветами, иногда жертвуя выставлением нескольких фигур одного цвета для того, чтобы выставить все фигуры другого своего цвета и получить дополнительные очки.
        </p>
        <h2>Управление</h2>
        <p>Для того чтобы установить фигуру зажмите ее левой кнопкой мыши, а затем отпустите в нужной позиции над полем.<br>
            Для вращения фигуры крутите колесико мыши не отпуская левую кнопку:<br>
            Колесико вверх — повернуть фигуру против часовой стрелки.<br>
            Колесико вниз — перевернуть фигуру (только по вертикали).<br>
            Если вы отпустите фигуру в положении не соответствующем правилам фигура вернется в исходное состоянии.<br>
            Если у игрока кончились возможные ходы нажмите Enter (переход к следующему игроку).
        </p>
    </div>

</div>
{% endblock %}