body {
    background-color: #F0ECE4;
    margin-top: 0;
}

.game-shape {
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: move;
}

.shape-block {
    position: absolute;

}



.shape-block-color0 {
    border: 1px solid #657BDB    !important;
    background-color: #2146EB !important;
}

.shape-block-color1 {
    border: 1px solid #C9C773 !important;
    background-color: #E3DC1B !important;
}
.shape-block-color2 {
    border: 1px solid #D25B5E !important;
    background-color: #D93B3B !important;
}
.shape-block-color3 {
    border: 1px solid #50C942 !important;
    background-color: #09BD00 !important;
}

.shape-block-color4 {
    position: absolute;
    border: 1px solid #C989E0 !important;
    background-color: #BD42ED !important;
}
.shape-block-color5 {
    position: absolute;
    border: 1px solid #E0BF89 !important;
    background-color: #EDAC42 !important;
}



.game-field {
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.field-block {
    position: absolute;
    border: 1px solid #666;
    background-color: #CCC;
}

.start-field-block-green {
    position: absolute;
    border: 1px solid #666;
    background-color: #85FF9D;
}
.start-field-block-red {
    position: absolute;
    border: 1px solid #666;
    background-color: #FF8585;
}
.start-field-block-blue {
    position: absolute;
    border: 1px solid #666;
    background-color: #85A9FF;
}
.start-field-block-yellow {
    position: absolute;
    border: 1px solid #666;
    background-color: #FFFD85;
}

.start-field-block-purple {
    position: absolute;
    border: 1px solid #666;
    background-color: #D09AE3;
}
.start-field-block-orange {
    position: absolute;
    border: 1px solid #666;
    background-color: #E3C59A;
}

.triangle-up {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 15px 30px 15px;
    border-color: transparent transparent #0a80dd transparent;
}

.triangle-down {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 30px 15px 0 15px;
    border-color: #0a80ff transparent transparent transparent;
}



/********************** UI ***********************/
.player-name {
    margin-left: 30px;
    margin-top: 10px;
    color: #999;
}

.game-help {
    margin-left: 400px;
    margin-top: 635px;
    color: #aaa;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}