body {
    background-color: #F0ECE4;
}

.game-shape {
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: move;
}

.shape-block {
    position: absolute;

}

.shape-block-color0 {
    border: 1px solid #D25B5E !important;
    background-color: #D93B3B !important;
}
.shape-block-color1 {
    border: 1px solid #DBD17F !important;
    background-color: #DBC200 !important;
}
.shape-block-color2 {
    border: 1px solid #50C942 !important;
    background-color: #09BD00 !important;
}
.shape-block-color3 {
    border: 1px solid #657BDB    !important;
    background-color: #2146EB !important;
}

.game-field {
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.field-block {
    position: absolute;
    border: 1px solid #666;
    background-color: #CCC;
}

.highlighted {

}


/********************** UI ***********************/
.player-name {
    margin-left: 30px;
    margin-top: 10px;
    color: #999;
}

.game-help {
    margin-left: 400px;
    margin-top: 635px;
    color: #aaa;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}