body {
    margin-top: 70px;
}


.content-box {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    background-color: #eee;
}

.jumbotron {
    font-size: 16px;
}

.btn-play {
    float: right;
    margin-top: -64px;
    margin-bottom: 20px;
}

.share-link {
    font-size: 16px;
}

#looptodo_feedback_btn img:hover {
    width: 110%;
    margin-top: -5px;
}